.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5px;
    background-color: #2f4050;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar stays above other content */
  }
  
  
  .logout-button {
    background-color: #080710;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    position:absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust for RTL layout, use `right` for LTR */
    padding: 5px 10px;
}

.logout-button:hover {
  background-color: rgba(161, 158, 158, 0.2);
}

/* Toggle button for opening/closing the sidebar */
.menu-toggle {
    position: absolute; /* Or 'absolute' depending on the desired relation to the page */
    top: 10px; /* Adjust as needed */
    right: 20px; /* Position it outside the sidebar, adjust value based on sidebar width */
    background-color: #080710;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Customize size */
    padding: 5px 10px;
    font-weight: bold;
    top: 5px; /* Adjust as needed */
    border-radius: 5px;
  }

  .menu-toggle:hover{
    background-color: rgba(161, 158, 158, 0.2);
  }
  