.tablescroll{
  max-height: 330px;
  max-width: 620px;
  padding: 0 50px 20px 250px;
  overflow:auto;
  margin-right:250px;
}

.h1{
  text-align: right;
  position: relative;
  right: 250px;
  top: 20px;
}


.users-table {
  background-color: #ffffff;
  border: 2px solid #2f4050;
  padding: 0 5px 5px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: auto;
  width: 140%;
  position: relative;
  top: 0px;
  right: 200px;
  text-align: center;
}

.users-table th,
.users-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.users-table th {
  background-color: #f0f0f0;
  color: #333;
}

.users-table tr:hover {
  background-color: #2f40506a;
}

.edit-button,
.delete-button {
  background-color: #080710;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
}

.edit-button:hover {
  background-color: #4caf50;
}

.delete-button:hover {
  background-color: rgba(255, 76, 76, 0.8); 
}

.table-container {
    position: relative;
    margin: auto;
    width: 90%;
  }

  .add-user-container {
    text-align: right;
    padding: 10px 0;
    margin-right: 250px;
  }
  
  .add-user-button {
    background-color: #080710;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-user-button:hover {
    background-color: #4caf50;
  }

    .spinner {
      border: 4px solid rgba(0,0,0,.1);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border-left-color: #09f;
      animation: spin 1s ease infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  