body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/images/background.png');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */


  }
  
  form {
    padding: 15px;
    background: #b9ced8;
    border-radius: 30px;
    box-shadow: 0 5px 15px #00000033;
    width: 85%;
    max-width: 400px;
    transform: scale(1);
    animation: appear 0.5s ease-in-out;
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  h2 {
    color: #333; /* Dark text color for contrast */
    font-size: 24px; /* Size of the text */
    font-weight: normal; /* Adjust weight as needed */
    margin-bottom: 20px; /* Space between the header and the form */
    text-align: center; /* Center the text */
  }
  
  
  label {
    margin-bottom: 0.5em;
    color: #333333;
    display: block;
    text-align: right;
  }
  
  input[type="email"], input[type="password"] {
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  
  input[type="email"]:focus, input[type="password"]:focus {
    border-bottom-color: #007bff;
    outline: none;
    box-shadow: 0 1px 0 0 #007bff;
  }
  
  button {
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Utility classes for additional styling */
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #adb5bd;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #adb5bd;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #adb5bd;
  }
  
  .logo {
    display: block;
    margin: 0 auto 40px; /* Center the logo and add some margin below it */
    width: 160px; /* Adjust to make the logo bigger */
    height: 150px; /* Adjust to make the logo bigger and maintain aspect ratio */
    border-radius: 50%; /* This makes the logo round */
    object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
  }


